{# src/repositorio/estudianteBundle/Resource/views/index.html.twig #}
{% extends 'estudianteBundle::plantilla.html.twig' %}
{% block titulo%}Repositorio Dijital De Tesis - Estudiantes{% endblock %}

{% block body%}
	<header>
	<div div="dloguv"><img id="iloguv" src="{{ asset('bundles/estudiante/images/logouv3.png') }}"></div>
	</header>
	<form method="post" action="registrar">
		<fieldset>
			<legend><strong>Ingresar por Primera vez</strong></legend>
			<div><label>Codigo o Cedula: <input type="text" name="codigo"/></label></div>
			<div><label>Nombres: <input type="text" name="nombre"/></label></div>
			<div><label>Apellidos: <input type="text" name="apellido"/></label></div>
			<div><label>Correo: <input type="text" name="correo"/></label></div>
			<div><label>Programa Academico : <select name="progaca">
				{% for i in programas %}
					<option value="{{i.codigoprog}}">{{i.nombreprog}}</option>
				{% endfor %}
			</select></label></div>
			<div><label>Sede : <select name="sede">
				{% for i in sedes %}
					<option value="{{i.codigosede}}">{{i.nombresede}}</option>
				{% endfor %}
			</select></label></div>
			</fieldset>
			<div><button type="submit">Registrar</button>
			<button name="bc" type="reset">Limpiar</button></div>
	</form>
	<form method="get" action="">
	<fieldset>
		<legend><strong>Ingresar</strong></legend>
		<div><label>Codigo o Cedula: <input type="text" name="codigo"/></label></div>
		<button type="submit">Ingresar</button>
	</fieldset>
	</form>
	<a href="index"><button>Cancelar</button></a>

{% endblock %} 