<h1>registrar</h1>
<h1>{{usuario.Nombre}}</h1>
<h1>{{usuario.Apellido}}</h1>
<h1>{{usuario.Codigo}}</h1>
<h1>{{usuario.Correo}}</h1>
<h1>{{usuario.CodigoProg.NombreProg}}</h1>
<h1>{{usuario.CodigoSede.NombreSede}}</h1>